
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff4e3;
    
}
.header-nav{

    z-index:1;
    position: fixed;
    width:100%;

}



/*Inicio Home*/
.home {
    margin: 0;
    background: url(https://images.pexels.com/photos/5632397/pexels-photo-5632397.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center fixed;
    background-size: cover;
    padding: 20px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}
#Productos {
    padding: 70px 0px;
    text-align: center;
    

}
.grilla {
    align-items:center;
   
    justify-content: space-between;
    width: 80%;
    margin:auto;
}
.fila-col {
   
    margin-bottom:40px;
}
.card {
    margin: auto;
    border: 0px;
}
.card-body {
    background: #5d5d5a;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.home-texto{
  align-items:center;
  padding-top:200px;
  padding-left:110px;
}


.btn {
    background: #ffcdab;
    color: black;
    border: 1px grey;
}
    .btn:hover {
        background: #ffa45c;
    }




/*Fin Home*/
/*Carrito inicio*/
.card-contenedor {
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color:white;
    /*gap:20px;*/
}
.item-carrito {
    width: 80%;
    height: 120px;
    display: flex;
    background: #5d5d5a;
    margin-bottom: 20px;
    border-radius:7px;
    margin-top:50px;
}
.item-carrito .left-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item-carrito .left-container{
   

}
.item-carrito .left-container .imagenUrl {
    
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
}
.item-carrito .left-container .descripcion  {
    
    flex-grow:1;
    height:100%;
    
}
.item-carrito .left-container .descripcion h5 {
   
    font-weight: 300;
    
}
.item-carrito .right-container {
       
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

.item-carrito .right-container .btn-cantidad {
    
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.carrito .total{
    text-align:center;
    font-size:40px;
   padding-top:20px;

}

/*Carrito fin*/


/*Detalle inicio*/

.detalle-articulo {
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
   
}
.imagen-articulo {
    align-items: center;
    display: flex;
    width: 50%;
    height: 80vh;
    padding-left: 10%;
    background-color: #5d5d5a;
}
.datos-articulo {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    background-color: #5d5d5a;
    color:white;
}
.descripcion-articulo {
   
    width: 100%;
    height: 80%;
    font-size: 20px;
    padding-top:20%;
    text-align:center;
}
.descripcion-articulo h4 {

    font-size: 50px;
}
.btn-articulo {
    
    
}

/*Detalle fin*/